.App {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 250px;
  background-color: bisque;
}
h1{
  color: rgb(169, 169, 169);
}
input{
  background-color: rgb(169, 169, 169);
  border: none;
  border-radius: 5px;
}
button{
  width: 100px;
  margin-top: 15px;
  border: none;
  border-radius: 10px;
  background-color: rgb(169, 169, 169);
  color: white;
}
